body {
    background-color: rgba(248, 245, 245, 0.986);
    font-family: 'Raleway', sans-serif;
  }
  
span {
margin: 0 40px;}

.main {
padding:20px;
margin-top:auto;
}

h1 {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
}
#selTimeplot {
  margin-top: 30px;
}
